html, body{
    background-color: gray;
    padding: 20px;
}

.wrapper {
    background-color: white;
    padding: 70px;
    text-align: center;
}
.nav-item, 
.time,
.timer{
    background-color: white;
    color: gray;
}
.card-header{
    border: none;
    background-color: white;
}
.card-body{
    background-color: white;
    color: gray;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
}
.card-footer{
    border:none;
    background-color: white;
}

/* hover style over wrong answers
/* hover style over right answers */

.question1.hidden{
    display:none
}